/* CUBE */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cube {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  transform-style: preserve-3d;
}
.cube-side {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #ffffff;
  border: 5px solid #a46ed1;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
}
.cube-side.n1 {
  transform: translateZ(40px);
}
.cube-side.n2 {
  transform: rotateX(90deg) translateZ(40px);
}
.cube-side.n3 {
  transform: rotateX(180deg) translateZ(40px);
}
.cube-side.n4 {
  transform: rotateX(-90deg) translateZ(40px);
}
.cube-side.n5 {
  transform: rotateY(90deg) translateZ(-40px);
}
.cube-side.n6 {
  transform: rotateY(90deg) translateZ(40px);
}
.container {
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(35deg);
}
@keyframes leap {
  0% { top: 0; }
  5% { top: -80px; }
  10% { top: 0; }
  100% { top: 0; }
}
@keyframes round {
  0% { transform: rotateX(0); }
  25% { transform: rotateX(0); }
  27.5% { transform: rotateX(90deg); }
  50% { transform: rotateX(90deg); }
  75% { transform: rotateX(90deg); }
  77.5% { transform: rotateX(180deg); }
  100% { transform: rotateX(180deg); }
}
.cube:first-child {
  animation:
    leap 5s ease 0s infinite,
    round 20s ease 0s infinite;
}
.cube:nth-child(2) {
  animation:
    leap 5s ease 0.5s infinite,
    round 20s ease 0.5s infinite;
}
.cube:nth-child(3) {
  animation:
    leap 5s ease 1s infinite,
    round 20s ease 1s infinite;
}
.cube:nth-child(4) {
  animation:
    leap 5s ease 1.5s infinite,
    round 20s ease 1.5s infinite;
}
.cube:nth-child(5) {
  animation:
    leap 5s ease 2s infinite,
    round 20s ease 2s infinite;
}
.cube:nth-child(6) {
  animation:
    leap 5s ease 2.5s infinite,
    round 20s ease 2.5s infinite;
}
.cube:nth-child(7) {
  animation:
    leap 5s ease 3s infinite,
    round 20s ease 3s infinite;
}
