/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #333333;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited {
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}
